* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(
      to right,
      rgba(39, 39, 39, 0.9),
      rgba(39, 39, 39, 0.3)
    ),
    url(./img/bg-mini.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 100%;
}
header h1,
label {
  text-shadow: 2px 2px 15px #000;
}
.credit .input-box {
  outline: none;
  border: 1px solid #aaa;
  background-color: #ddd;
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
  body {
    background-image: linear-gradient(
        rgba(39, 39, 39, 0.9),
        rgba(39, 39, 39, 0.3)
      ),
      url(./img/bg.jpg);
  }
}
@media screen and (min-width: 1024px) {
  body {
    background-image: linear-gradient(
        rgba(39, 39, 39, 0.9),
        rgba(39, 39, 39, 0.3)
      ),
      url("https://wallpapers.com/images/hd/colorful-finance-reports-and-charts-sjfl27ehdupf10xz.webp");
  }
}
